@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
}
<h1>Blog Categories</h1>

<button type="button" class="btn btn-primary my-3" id="btnAddCategory">Create new Category</button>

<Table class="table table-hover">
    <thead>
        <tr class="table-secondary">
            <th>Category Name</th>
            <th>Category Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>
                    @(string.IsNullOrWhiteSpace(category.Description) ? "..." : category.Description)
                </td>
                <td>
                    <button class="btn btn-warning btn-sm btn-edit" data-id="@category.Id" title="Edit">
                        <i class="fas fa-edit"></i>
                    </button>

                    <button class="btn btn-danger btn-sm btn-delete" data-id="@category.Id" title="Delete">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>

            </tr>
        }
    </tbody>
</Table>


<!-- Modal for Edit -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="editModalContent">
            <!-- المحتوى سيتم تحميله ديناميكيًا -->
        </div>
    </div>
</div>
