<footer class="border-top footer text-muted py-4 text-center">
    <div class="container">
        &copy; 2025 - Blog App -Ibrahim Yaseen <a href="https://github.com/Heema14">Github</a>
    </div>
</footer>