@using SyncSyntax
@using SyncSyntax.Models
@using SyncSyntax.Models.ViewModels;
@using Microsoft.AspNetCore.Identity
@using SyncSyntax.Data
@using System.Text.RegularExpressions
@using SyncSyntax.Helpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<a asp-area="ContentCreator" asp-controller="Post" asp-action="MyPosts" class="nav-link">My Posts</a>